body 
{
	 font-family: Arial;
	 font-size: small;
	 background: white;
}

.FilterPanel 
{
	width: 60%;
	vertical-align: top;
}

.ErrorTable 
{
	width: 400px;
	border-color: Blue;
	border-style: solid;
	border-width: thin;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 50px;
	 text-align: center;
   
	 
}

.ErrorTable.tr
{

}

.ErrorTitle 
{
 font-weight: bold;
   text-decoration: underline;	
}
.ErrorText 
{
}
    
.LinkPanel
{width: 20%;
	vertical-align: top;
}

.LinkButtonSelected
{
 	text-align:right;
 	color: rgb(255, 255, 255);
 	vertical-align: middle;
}

.LinkButton
{
    text-align:right;
 	color: rgb(255, 255, 255);
 	vertical-align: middle;
}
.TitlePanel
{ 
	width : 100%;
	vertical-align: top;
}

.FilterTitle
{
 font-weight: bold;
 width: 300px;
}

.InfoBox
{
	/*font-style: italic;*/
	width: 300px;
}

.modfilterlabel 
{
	color: Red
}


.DepartmentTable
{
 width: 100%	
}
.InfoTable
{
 width: 100%	
}
.InfoCell
{
 width: 500px;	
}

.DepartmentLabel
{
width: 200px;
border-style: none;
vertical-align: top;
border-width: 0;
}

.DepartmentFilter
{
	width: 100%;
}

.WildcardTextBox
{
	width: 70%;
}
.WildcardButton
{
width: 10%;
}
.ViewTimetableButton
{
width: 150px;
}

.LoginBox
{
  border-Color: Black;
  border-Style: solid;
  border-Width: thin;
  margin: 0 auto;
}

.LoginInputBox 
{
width: 200px;
}

.LoginButton
{
width: 150px;
}

.ErrorMessage
{
    font-size: 10;
	color: Red;
}

.TitleText
{  font-weight: bold;
}

.LoginText
{  font-weight:  normal;
}

.InstructionText 
{
   font-style: italic;
   font-size: 10;
}

.ObjectInputErrorLabel
{
	color: Red;
}
#pLinkPanel div
{
    margin: 1.5em 1.5em 1.5em 1.5em;
    
    margin: 10px 10px 0px 0px;
 	padding: 9px 18px 8px;
 	border-radius: 4px;
 	border: 0px currentColor; 	
 	color: rgb(255, 255, 255);
 	vertical-align: middle;
 	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
 	background-color: rgb(22, 70, 130);
 	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
 	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	-o-border-radius: 4px;
 	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
 	-o-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
 	-webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
 	-moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
 	-o-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
 	text-align:center;	
}

/* header */
#UbcHeader
{
-webkit-box-shadow: rgb(0, 24, 51) 0px 10px 10px -10px inset;
background-color: rgb(0, 33, 69);
border-top-color: rgb(255, 255, 255);
border-top-style: solid;
border-top-width: 3px;
box-shadow: rgb(0, 24, 51) 0px 10px 10px -10px inset;
color: rgb(34, 34, 34);
display: block;
font-family: Arial, sans-serif;
font-size: 14px;
height: 115px;
line-height: 22px;
margin-left: -15px;
margin-right: -15px;
padding-left: 15px;
padding-right: 15px;
width: 1170px;
}


[class*='span'] {
	float: left;
	min-height: 1px;
	margin-left: 20px;
}
.span12 {
	width: 940px;
}
/* @media all and (min-width:1200px) */
[class*='span'] {
	float: left;
	min-height: 1px;
	margin-left: 30px;
}
/* @media all and (min-width:1200px) */
.span12 {
	width: 1170px;
}
.row-fluid [class*='span'] {
	display: block;
	float: left;
	width: 100%;
	min-height: 30px;
	margin-left: 2.12%;
	*margin-left:2.074468085106383%: ;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row-fluid .span12 {
	width: 100%;
	*width:99.94680851063829%: ;
}
/* @media all and (min-width:1200px) */
.row-fluid [class*='span'] {
	display: block;
	float: left;
	width: 100%;
	min-height: 30px;
	margin-left: 2.56%;
	*margin-left:2.5109110747408616%: ;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* @media all and (min-width:1200px) */
.row-fluid .span12 {
	width: 100%;
	*width:99.94680851063829%: ;
}
.row-fluid [class*='span']:first-child {
	margin-left: 0px;
}
/* @media all and (min-width:1200px) */
.row-fluid [class*='span']:first-child {
	margin-left: 0px;
}
#ubc7-minimal-footer .span12 {
	border-top: 1px solid #1f385f;
	float: none;
	padding: 22px 0;
}
.row-fluid {
	width: 100%;
	*zoom:1: ;
}
/* @media all and (min-width:1200px) */
.row-fluid {
	width: 100%;
	*zoom:1: ;
}
footer {
	background: #002145;
}
.expand {
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
}
.row-fluid::before, .row-fluid::after {
	display: table;
	line-height: 0;
	content: "";
}
.row-fluid::after {
	clear: both;
}
/* @media all and (min-width:1200px) */
.row-fluid::before, .row-fluid::after {
	display: table;
	line-height: 0;
	content: "";
}
/* @media all and (min-width:1200px) */
.row-fluid::after {
	clear: both;
}
#ubc7-global-menu, #ubc7-unit, #ubc7-global-footer, #ubc7-minimal-footer {
	font-family: Arial,Sans-Serif !important;
}
a {
	color: #08c;
	text-decoration: none;
}
a {
	color: #2f5d7c;
	text-decoration: underline;
}
a:link, a:visited, button {
	-webkit-transition: color .2s ease, background-color .2s ease;
	-moz-transition: color .2s ease, background-color .2s ease;
	-o-transition: color .2s ease, background-color .2s ease;
	transition: color .2s ease, background-color .2s ease;
}
#ubc7-global-footer, #ubc7-minimal-footer, #ubc7-global-footer a, #ubc7-minimal-footer a {
	color: #fff !important;
	text-decoration: none;
}
#ubc7-minimal-footer {
	background: #002145;
	color: #fff;
	padding-top: 20px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 940px;
}
.container {
	margin-right: auto;
	margin-left: auto;
	*zoom:1: ;
}
/* @media all and (min-width:1200px) */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 1170px;
}
.container {
	margin: 0 auto;
	width: 940px;
	background: white;
}
/* @media screen and (min-width:1200px) */
.container {
	width: 1170px;
}
.container::before, .container::after {
	display: table;
	line-height: 0;
	content: "";
}
.container::after {
	clear: both;
}
body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-color: white;
}
body {
	background:white;
	color: #222;
	font-family: Arial,Sans-Serif;
	font-size: 14px;
	line-height: 22px;
	margin: 0;
	min-width: 240px;
}
body {
	background-color: #CCCCCC !important;
	font-size: 14px !important;
	padding: 0px !important;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
ul, ol {
	padding: 0;
	margin: 0 0 10px 25px;
}
ul {
	list-style-type: square;
	padding: 0;
	margin: 0 0 10px 25px;
}
#ubc7-minimal-footer ul {
	margin: 0;
}
li {
	line-height: 20px;
}
li {
	line-height: 24px;
}
#ubc7-minimal-footer li {
	display: inline-block;
}
#ubc7-minimal-footer a {
	font-size: 85%;
}
#ubc7-minimal-footer .divider {
	color: #ccc;
	padding: 0 5px 0 3px;
}

.Address{
	float: right;
}